---
import Layout from '@layouts/Layout.astro'
import About from '@components/sections/About.astro'
import Experience from '@components/sections/Experience.astro'
import Skills from '@components/sections/Skills.astro'
import Certificates from '@components/sections/Certificates.astro';
---

<Layout title="Daniel Cordero - Desarrollador Web">
  <main>
    <About />
    <Experience />
    <Skills />
    <Certificates />
  </main>
</Layout>
