---
import { certificates } from '@cv'
import { CertificateIcon } from '@icons/Certificate.tsx'

const orderCertificates = (a, b) => new Date(b.date) - new Date(a.date)
certificates.sort(orderCertificates)
---

<section class="my-20">
  <h2 class="text-2xl font-semibold lg:text-3xl text-center mb-20">
    Certificados
  </h2>
  <div
    class="w-fit mx-auto mt-10 grid grid-cols-1 min-[400px]:grid-cols-2 gap-y-10 gap-x-14"
  >
    {
      certificates.map(({ name, url, issuer, date }) => {
        const year = new Date(date).getFullYear()
        return (
          <a href={url} class="group w-fit" target="_blank">
            <h3 class="text-lg group-hover:underline decoration-blue-600 dark:decoration-blue-300 underline-offset-4">
              {name}
            </h3>
            <p class="text-sm opacity-80">
              {issuer} - <time>{year}</time>
            </p>
            <CertificateIcon class="size-2 ml-2 group-hover:decoration-blue-600 dark:decoration-blue-300" />
          </a>
        )
      })
    }
  </div>
</section>
