---
import CardExperience from '@components/CardExperience.astro'
import { work } from '@cv'
---

<section id="experience" class="max-w-7xl min-h-screen px-4 py-20 mx-auto">
  <h1 class="text-3xl sm:text-4xl pb-12 font-semibold text-center">
    Experiencia reciente
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {
      work.map((experience, index) => (
        <CardExperience work={experience} position={index} />
      ))
    }
  </div>
</section>
