---
import CardCallToAction from '@components/CardCallToAction.astro'
import SocialLink from '@components/SocialLink.astro'
import { LogoIcon } from '@icons/Logo.tsx'
import { GitHub } from '@icons/Github'
import { LinkedIn } from '@icons/Linkedin.tsx'
import { Instagram } from '@icons/Instagram.tsx'
import { X } from '@icons/X.tsx'
import { basics } from '@cv'

const SOCIAL_ICONS: Record<string, any> = {
	GitHub,
  LinkedIn,
  Instagram,
  X
};
---

<footer class="bg-zinc-900 text-zinc-100">
  <div class="py-16">
    <CardCallToAction />

    <div class="mt-16">
      <ul class="flex flex-wrap justify-center gap-5 text-zinc-200/80 [&>li:hover]:text-yellow-300 [&>li]:duration-200">
        <li><a href="/resume" target="_blank">CV</a></li>
        <li><a href="/#portfolio">Portafolio</a></li>
        <li><a href="/about">Sobre mí</a></li>
      </ul>
    </div>

    <div class="mt-16 flex flex-wrap justify-between gap-8">
      <ul class="flex mx-auto gap-6 text-zinc-200/80">
        {
          basics.profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]
            return (
              <li>
                <SocialLink network={network} url={url} username={username}>
                  <Icon class="size-6" />
                </SocialLink>
              </li>
            )
          })
        }
      </ul>

      <div class="w-full mt-2 flex flex-wrap gap-6 items-center justify-between">
        <a
          href="/"
          class="flex items-center gap-2 text-zinc-200/80 hover:text-yellow-300 duration-200"
        >
          <LogoIcon className="size-6" />
          <p>corderodev</p>
        </a>
        <p class="text-sm text-gray-500">Built by @corderodev with 💛</p>
      </div>
    </div>
  </div>
</footer>
