---
import MailCopy from '@components/MailCopy.astro'
import { ResumeIcon } from '@icons/Resume.jsx'
import { basics } from '@cv';
---

<section
  class="min-h-[50dvh] w-full mx-auto flex flex-col place-content-center py-20"
>
  <h2 class="text-3xl sm:text-5xl text-balance font-bold">
    Hola, soy Daniel Cordero 🙌
  </h2>
  <p class="w-full max-w-[80ch] mt-6 mb-8 text-pretty text-base opacity-90">
    {basics.label} con 1 año de experiencia y stack centrado en JavaScript. Residiendo
    en {basics.location.city}, {basics.location.region}.
  </p>
  <div class="flex flex-wrap gap-4">
    <MailCopy email="daniel@corderodev.com" name="Daniel Cordero" />
    <a
      href="/resume"
      target="_blank"
      class="rounded-md border border-zinc-400/20 flex gap-1 items-center w-fit px-4 py-0.5 hover:bg-zinc-800"
    >
      <ResumeIcon className="size-5 mb-0.5" />
      Ver Currículum
    </a>
  </div>
</section>
