---
import MailCopy from '@components/MailCopy.astro'
import { basics } from '@cv'
import profile from '@assets/profile.webp'
import { Image } from 'astro:assets'
import { DownArrowIcon } from '@icons/DownArrow';
---

<section
  id="hero"
  class="min-h-[50dvh] w-full mx-auto flex flex-col pt-24 pb-20 text-center"
>
  <div class="flex flex-col-reverse gap-8 mb-5">
    <h1 class="text-4xl font-bold">Desarrollador Web Frontend</h1>
    <Image
      src={profile}
      alt="Desarrollador Web Frontend"
      class="max-w-[120px] w-full mx-auto rounded-full"
    />
  </div>
  <p
    class="font-medium [&>span]:font-bold text-base text-pretty max-w-[40ch] mx-auto opacity-90"
  >
    Desarrollo <span>soluciones a problemáticas</span> mediante software, con un
    stack centrado en <span>JavaScript</span>. Resido en <span>Antofagasta, Chile.</span>
  </p>
  <div class="mt-5 flex flex-wrap justify-center items-center gap-4">
    <a
      target="_blank"
      href="/resume"
      class="px-6 py-[6px] text-center font-medium rounded-full text-black dark:text-black bg-blue-200 dark:bg-blue-400 hover:bg-blue-300 duration-200 ease-in-out"
    >
      Ver Currículum
    </a>
    <MailCopy email={basics.email} name={basics.name} />
  </div>
  <DownArrowIcon class="size-12 mx-auto mt-20 animate-down-arrow" />
</section>
