---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import { Projects } from '../components/sections/Projects'
import Experience from '@components/sections/Experience.astro'
---

<Layout title="Daniel Cordero - Desarrollador Web">
	<main>
		<Hero lookingJob={true} />
		<Experience />
		<Projects client:visible />
	</main>
</Layout>