---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import { Projects } from '../components/sections/Projects'
import Experience from '@components/sections/Experience.astro'
import About from '@components/sections/About.astro'
import Certificates from '@components/sections/Certificates.astro'
---

<Layout title="Daniel Cordero - Desarrollador Web">
	<main>
		<Hero />
		<Experience />
		<Projects client:visible />
		<About />
		<Certificates />
	</main>
</Layout>