---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import { Projects } from '../components/sections/Projects'
// import { Blog } from '../components/sections/Blog'
---

<Layout title="Daniel Cordero - Desarrollador Web">
	<main>
		<Hero />
		<Projects client:visible />
		<!-- <Blog client:visible /> -->
	</main>
</Layout>