<a
  target="_blank"
  href="/resume"
  class="block w-fit h-fit px-6 py-[6px] text-center font-medium rounded-full text-black dark:text-black bg-blue-400 dark:bg-blue-400 hover:bg-blue-300 duration-200 ease-in-out"
>
  Ver Currículum
</a>
