---
import { basics } from '@cv'
import { LinkedIn } from '@icons/Linkedin.tsx';
---
<a
  href={basics.profiles[0].url}
  target="_blank"
  class="flex flex-wrap items-center gap-1 border border-zinc-400/20 w-fit rounded-md px-2 py-0.5 hover:bg-zinc-800"
>
  <LinkedIn className="size-5 mb-0.5" />
  <p class="text-wrap">En búsqueda de empleo</p>
</a>
