---
import { basics } from '@cv'
import { LinkedIn } from '@icons/Linkedin.tsx';
---
<a
  href={basics.profiles[0].url}
  target="_blank"
  class="mx-auto w-fit flex justify-center items-center gap-1.5 py-1.5 px-2 rounded-md border border-zinc-800/30 bg-gray-200 dark:border-zinc-400/20 dark:bg-zinc-800 hover:border-blue-400 hover:bg-blue-400 hover:border-transparent hover:text-black duration-200"
>
  <LinkedIn className="size-5" />
  <p class="">Abierto a ofertas laborales</p>
</a>
